<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Menu Principal - Colegio Euler</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <!-- inicio de la barra de menu -->
      <nav
        class="navbar bg-dark navbar-expand-lg bg-body-tertiary"
        data-bs-theme="dark"
      >
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/menuprincipal}">Colegio Euler</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  th:href="@{/menuprincipal}"
                  >Inicio</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                Alumno
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" th:href="@{/alumno/listar}"
                      >Listar Alumno</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Aula
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" th:href="@{/aula/listar}"
                      >Listar Aula</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Curso
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" th:href="@{/curso/listar}"
                      >Listar Curso</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Horario
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" th:href="@{/horario/listar}"
                      >Listar Horario</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Matricula
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" th:href="@{/matricula/listar}"
                      >Listar Matricula</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Profesor
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" th:href="@{/profesor/listar}"
                      >Listar Profesor</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                 Sede
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" th:href="@{/sede/listar}"
                      >Listar Sede</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- fin barra menu -->

      <!-- inicio tarjeta -->
      <div class="card" style="width: 35rem; margin: auto;">
        <img
          src="img/eulercole.jpg"
          class="card-img-top"
          alt="Colegio"
        />
        <div class="card-body">
          <h1>Bienvenidos al Sistema de Recepcion del Colegio Leonard Euler</h1>
          <p>
            Este sistema permite gestionar la recepcion de alumnos y profesores
          </p>
        </div>
      </div>
      <!-- fin tarjeta -->
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
